.container_navbar {
    max-width: 1920px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
  }
  
  .background_navbar {
    width: 100%;
    background-color: #fff;
    height: 100px;
    display: flex;
    justify-content: center;
  }

.logoSpecial{
  margin-left: auto;
  margin-right: auto;
}