.container_divider{
    font-family: 'Bebas Neue',sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.line_divider{
    background-color: #F58131;
    width: 1440px;
    height: 3px;
}

.container_divider p{
    font-size: 42px;
}

@media (max-width:1500px){
    .line_divider{
        width: 90%
    }

    .container_divider p{
        font-size: 36px;
    }
}

@media (max-width:1200px){

    .container_divider p{
        font-size: 30px;
    }
}


@media (max-width:1000px){

    .container_divider p{
        font-size: 26px;
    }
}