.container_expCard{
    background-color: white;
    width: 100%;
    height: fit-content;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    height: 300px;
    align-items: center;
}

.margin_expCard{
    padding-left: 10px;
    padding-right: 10px;
}

.person_expCard img{
    object-fit: cover;
}

.desc_expCard{
    width: 90%;
    font-size: 14px;
}

.container_expCard img{
    width: 50px;
    height: 50px;
    border-radius: 1000px;
}

.stuff_expCard{
    margin-left: 20px;
    font-family: 'Montserrat',sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 90%;
    margin-top: 20px;
}

@media (max-width:1300px){
    .container_expCard{
        height: 250px;
        font-size: 10px;
    }

    .desc_expCard{
        font-size: 12px;
    }
}

@media (max-width:1000px){
    .container_expCard{
        height: 200px;
        font-size: 8px;
    }

    .desc_expCard{
        font-size: 9px;
        margin-top: 0px;
    }

    .person_expCard img{
        width: 40px;
        height: 40px;
    }
}

@media (max-width:800px){
    .container_expCard{
        height: 150px;
        font-size: 6px;
    }

    .desc_expCard{
        font-size: 7px;
        margin-top: 0px;
    }

    .person_expCard img{
        width: 30px;
        height: 30px;
    }
}

@media (max-width:670px){
    .container_expCard{
        height: 250px;
        font-size: 10px;
    }
    .person_expCard img{
        width: 50px;
        height: 50px;
    }

    .desc_expCard{
        font-size: 12px;
    }
}

@media (max-width:550px){
    .container_expCard{
        height: 220px;
        font-size: 9px;
    }
    .desc_expCard{
        font-size: 10px;
    }

    .person_expCard img{
        width: 40px;
        height: 40px;
    }
}

@media (max-width:430px){
    .container_expCard{
        height: 180px;
        font-size: 7px;
    }

    .desc_expCard{
        font-size: 8px;
    }

    .person_expCard img{
        width: 35px;
        height: 35px;
    }
}

@media (max-width:350px){
    .container_expCard{
        height: 150px;
        font-size: 6px;
    }

    .desc_expCard{
        font-size: 7px;
    }

    .person_expCard img{
        width: 30px;
        height: 30px;
    }
}